<section class="footer">
  <img src="./assets/images/shape-top.png" />

  <div class="box-container">
    <div class="box">
      <h3 class="heading"><span>Locations</span></h3>
      <a routerLink="/">Vienna 1050</a>
      <a routerLink="/">Vienna 1100</a>
    </div>

    <div class="box">
      <h3 class="heading"><span>Links</span></h3>
      <a routerLink="/">HOME</a>
      <a routerLink="aboutus">ABOUT US</a>
      <a routerLink="menu">MENU</a>
      <a routerLink="team">OUR TEAM</a>
      <a routerLink="cart">CART</a>
    </div>

    <div class="box">
      <h3 class="heading"><span>Contact</span></h3>
      <p><i class="fas fa-map-marker-alt"></i>Kettenbrückengasse 23/2/12</p>
      <p><i class="fas fa-envelope"></i>codefactory@office.com</p>
      <p><i class="fas fa-globe"></i>www.codefactory.wien</p>
    </div>
  </div>
  <div class="credit">
    <i class="fa-solid fa-copyright"></i> 2023 Copyright: Dario Dominkovic
  </div>
</section>
