<section class="about" id="about">
  <h1 class="heading"><span>ABOUT US</span></h1>
  <div class="row">
    <div class="content">
      <div class="text">
        <h3>Come and satisfy your hunger with our delicious dishes.</h3>
        <p>
          We are a passionate team of gastronomers specialized in spoiling your
          taste buds with our diverse selection of mouthwatering dishes. Our
          cuisine stands out for its high-quality ingredients and refined flavor
          combinations. Each dish is prepared with care and attention to detail
          to provide you with an unforgettable culinary experience.
        </p>
        <p>
          Whether you're planning an intimate meal for two, a social gathering
          with friends, or a special event, our restaurant provides the ideal
          setting. Our inviting ambiance and charming atmosphere will make you
          feel welcome and relaxed right away.
        </p>
        <p>
          Our goal is not only to serve you delicious dishes but also to offer a
          memorable gastronomic experience. From appetizers to desserts, we will
          satisfy your hunger and delight your taste buds with a variety of
          flavors and textures.
        </p>
        <p>
          Visit us at Ristorante Gambero Rosso in Vienna and let us impress you
          with our commitment to excellent cuisine and first-class service. We
          look forward to creating unforgettable moments of enjoyment for you
          and making your visit something special.
        </p>
      </div>
    </div>
    <div class="image">
      <img src="/assets/images/woman-chef.png" alt="our friendly chef" />
    </div>
  </div>
</section>
