<section class="menu">
  <h1 class="menu-header"><span>MENU</span></h1>

  <ul class="controls">
    <li class="buttons" (click)="showAllProducts()">Show All</li>
    <li class="buttons" (click)="filterProducts('appetizer')">Appetizers</li>
    <li class="buttons" (click)="filterProducts('main')">Main Courses</li>
    <li class="buttons" (click)="filterProducts('dessert')">Desserts</li>
  </ul>
  <div class="menu-container">
    <div
      class="menu-info"
      *ngFor="let product of products"
      [style.display]="getProductDisplayStyle(product)"
    >
      <div>
        <img [src]="product.image" />
        <div class="description">
          <h3>{{ product.name }}</h3>
          <h4>{{ product.price | currency }}</h4>
        </div>
        <div class="menu-buttons">
          <ng-container *ngIf="product.isAvailable">
            <button
              id="details"
              [routerLink]="'/product/' + products.indexOf(product)"
            >
              Details
            </button>
            <button id="order" (click)="addToCart(product)">Order</button>
          </ng-container>
          <ng-container *ngIf="!product.isAvailable">
            <span class="not-available">Not available</span>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</section>
