.menu {
  min-height: 80vh;
  margin: 0 50px;
}

.menu-header {
  text-align: center;
  margin: 50px 0px;
  border-bottom: 5px var(--green) solid;
}

.menu-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.menu-container .menu-info {
  height: 600px;
  width: 500px;
  margin: 20px;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.5);
}

.menu-container .menu-info img {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.menu-container .menu-info .description {
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--green) solid 10px;
}

.menu-container .menu-info .description h3 {
  text-align: center;
  margin: 20px;
  font-weight: bolder;
  color: var(--green);
  align-items: start;
}

.menu-container .menu-info .description h4 {
  text-align: center;
  margin: 20px;
  font-weight: bolder;
  color: red;
  align-items: end;
}

.menu-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.menu-buttons button {
  background-color: white;
  border: 0cm;
}

#details {
  color: var(--green);
  font-size: 30px;
  font-weight: bolder;
  padding: 10px 20px;
}

#order {
  color: red;
  font-size: 30px;
  font-weight: bolder;
  padding: 10px 20px;
}

#order:hover,
#details:hover {
  background-color: #f1f1f1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid rgba(0, 0, 0, 0.3);
  border-right: 3px solid rgba(0, 0, 0, 0.3);
}

.not-available {
  color: red;
  font-size: 40px;
}
.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 0;
  list-style: none;
}

.controls .buttons {
  margin: 1rem 2rem;
  padding: 0.5rem 0;
  border-bottom: 0.2rem solid #333;
  color: #333;
  cursor: pointer;
  font-size: 2rem;
}

.controls .buttons.button-active,
.controls .buttons:hover {
  color: var(--yellow);
  border-color: var(--yellow);
}
