<section class="cart">
  <h1>CART</h1>

  <div class="row" *ngFor="let item of cart">
    <div class="col-md-3">
      <img [src]="item.image" class="img-fluid" />
    </div>
    <div class="col-md-3">
      <h3>{{ item.name }}</h3>
      <h3>{{ item.price }}</h3>
    </div>
    <div class="col-md-3">
      <div class="input-group">
        <div class="input-group-prepend">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="decreaseQuantity(item)"
          >
            -
          </button>
        </div>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="item.qtty"
          readonly
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="increaseQuantity(item)"
          >
            +
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <button class="btn btn-danger" (click)="removeItem(item)">Delete</button>
    </div>
  </div>

  <div class="cart-service">
    <div class="service-labels">
      <div class="label">Service:</div>
      <div class="label">Total:</div>
      <div *ngIf="calculateTotal() > 40" class="label">Discounted Total:</div>
    </div>
    <div class="service-values">
      <div id="service" class="amount">
        {{ serviceAmount | currency : "EUR" }}
      </div>
      <div id="total" class="amount">{{ total | currency : "EUR" }}</div>
      <h4 *ngIf="calculateTotal() > 40" class="discount-amount">
        {{ discountedTotal | currency : "EUR" }}
      </h4>
    </div>
  </div>
  <button class="confirm" routerLink="/">BUY NOW</button>
</section>
