<section class="chef" id="chef">
  <h1 class="heading">THE TEAM</h1>

  <div class="box-container">
    <div class="box">
      <img src="/assets/images/chef1.jpg" alt=" Chef - Jonas Weber" />
      <div class="info">
        <h3>Jones Weber</h3>
        <span>Chef</span>
        <div class="share">
          <a routerLink="/" class="fab fa-facebook-f"></a>
          <a routerLink="/" class="fab fa-instagram"></a>
          <a routerLink="/" class="fab fa-twitter"></a>
        </div>
      </div>
    </div>

    <div class="box">
      <img src="/assets/images/chef2.jpg" alt="Sous Chef - Felix Becker" />
      <div class="info">
        <h3>Felix Becker</h3>
        <span>Sous Chef</span>
        <div class="share">
          <a routerLink="/" class="fab fa-facebook-f"></a>
          <a routerLink="/" class="fab fa-instagram"></a>
          <a routerLink="/" class="fab fa-twitter"></a>
        </div>
      </div>
    </div>

    <div class="box">
      <img src="/assets/images/chef3.jpg" alt="Chef de Partie - Leon Wagner" />
      <div class="info">
        <h3>Leon Wagner</h3>
        <span>Chef de Partie</span>
        <div class="share">
          <a routerLink="/" class="fab fa-facebook-f"></a>
          <a routerLink="/" class="fab fa-instagram"></a>
          <a routerLink="/" class="fab fa-twitter"></a>
        </div>
      </div>
    </div>

    <div class="box">
      <img
        src="/assets/images/chef4.jpg"
        alt="Demi Chef de Partie - Simon Müller"
      />
      <div class="info">
        <h3>Simon Müller</h3>
        <span>Demi Chef de Partie</span>
        <div class="share">
          <a routerLink="/" class="fab fa-facebook-f"></a>
          <a routerLink="/" class="fab fa-instagram"></a>
          <a routerLink="/" class="fab fa-twitter"></a>
        </div>
      </div>
    </div>
  </div>
</section>
