<section class="chef" id="chef">
  <h1 class="heading">THE TEAM</h1>

  <div class="box-container">
    <div class="box">
      <img
        src="/assets/images/chef1.jpg"
        alt=" Erfahren Sie mehr über unsere erfahrenen Mitarbeiter - Jonas Weber unser Starchefkoch bei Foodstar in Wien"
      />
      <div class="info">
        <h3>Jones Weber</h3>
        <span>Chef</span>
        <div class="share">
          <a routerLink="/" class="fab fa-facebook-f"></a>
          <a routerLink="/" class="fab fa-instagram"></a>
          <a routerLink="/" class="fab fa-twitter"></a>
        </div>
      </div>
    </div>

    <div class="box">
      <img
        src="/assets/images/chef2.jpg"
        alt="Unser freundliches und kompetentes Team steht Ihnen zur Verfügung - Felix Becker"
      />
      <div class="info">
        <h3>Felix Becker</h3>
        <span>Sous Chef</span>
        <div class="share">
          <a routerLink="/" class="fab fa-facebook-f"></a>
          <a routerLink="/" class="fab fa-instagram"></a>
          <a routerLink="/" class="fab fa-twitter"></a>
        </div>
      </div>
    </div>

    <div class="box">
      <img
        src="/assets/images/chef3.jpg"
        alt="Lernen Sie unser Foodstar-Team kennen - Mitarbeiterpoträt von unserem Starkoch Leon Wagner"
      />
      <div class="info">
        <h3>Leon Wagner</h3>
        <span>Chef de Partie</span>
        <div class="share">
          <a routerLink="/" class="fab fa-facebook-f"></a>
          <a routerLink="/" class="fab fa-instagram"></a>
          <a routerLink="/" class="fab fa-twitter"></a>
        </div>
      </div>
    </div>

    <div class="box">
      <img
        src="/assets/images/chef4.jpg"
        alt="Mitarbeiterpoträt von Koch Simon Müller - Wir sind stolz auf unser profesionelles und engagiertes Team"
      />
      <div class="info">
        <h3>Simon Müller</h3>
        <span>Demi Chef de Partie</span>
        <div class="share">
          <a routerLink="/" class="fab fa-facebook-f"></a>
          <a routerLink="/" class="fab fa-instagram"></a>
          <a routerLink="/" class="fab fa-twitter"></a>
        </div>
      </div>
    </div>
  </div>
</section>
